# Skyfield ephemeris data
# This will ignore the file if it happens to be in your project directory.
# Skyfield usually stores this in a central cache outside your project.
de441.bsp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
